h1, h2, p, li, a {
    font-family: Helvetica;
}

a {
    padding: 4px;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
}

p {
    line-height: 24px;
    width: 50%;
}

li {
    line-height: 24px;
}

header {
    background-color: #C4C4C4;
    padding: 30px 30px;
}

figure {
    width: auto;
}

footer {
    padding: 24px;
    background-color: #C4C4C4;
}

.about {
    background-color: #F3F3F3;
    padding: 32px;
}

.about-possum {
    border-radius: 50%;
}

.hobbies-games {
    padding: 32px;
}

.icon {
    width: 32px;
    height: 32px;
}

.icon:hover {
    filter: drop-shadow(0px 0px 1px black);
}